/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and Logos */

#logo {
    font-family: lobster, sans-serif;
    float: left;
    font-size: 260%;
    margin-left: 25px;
}

/* Navigation Links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
}


/* Hero Image */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden
}

#hero-tree {
    height: 800px;
    width: 100%;
    background: url('../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg');
}
