/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    background: rgb(233, 232, 232);
}

/* Headings and Logos */

#logo {
    font-family: lobster, sans-serif;
    float: left;
    font-size: 260%;
    margin-left: 25px;
}

.header {
    background-color: #273C2C;
    height: 75px;
}


/* Navigation Links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
    color: #FDF1B5;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1px solid #FDF1B5;
}


/* Hero Image */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-tree {
    height: 800px;
    width: 100%;
    background: url('../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg');

    position: relative;

    overflow: hidden;
}


/* Main Text */

#t-one {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;

    font-size: 300%;

    text-shadow: 2px 2px #000;

  }

  #t-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;

    font-size: 260%;
    text-transform: uppercase;
    font-weight: 700;

    text-shadow: 2px 2px #000;

  }

  /* Main Buttons */

  .button a {
      text-decoration: none;

      font-size: 180%;
      font-weight: 800;

      color: #FDF1B5;
      background-color: #273C2C;
      padding: .375rem .75rem;
      border-radius: 12px;
      box-shadow: 2px 2px #000; 
  }

  #button-one {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #button-two {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #button-three {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

.button a:hover {
    background-color: #FDF1B5;
    color: #273C2C;
}

/* About heading */

.about-heading, .trails-heading {
    text-align: center;
    font-size: 260%;
    margin: 30px 0;

    font-family: lobster, sans-serif;
    text-decoration: underline;
}

/* About Boxes */

.row {
    display: flex;
    margin: 20px 40px;
    padding: 70px;
}

.col {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

    border-radius: 25px;
    background: #fff;
    box-shadow: 10px 10px 5px grey;
}

.about-box {
    width: 300px;
    height: 250px;
    background-color: #273C2C;

    border-radius: 25px 25px 0 0;
}

.col:hover {
    transform: scale(1.25);
    transition: transform 0.25s;
}

/* About Boxes text */

.col h2 {
    font-size: 30px;
    margin-top: 10px;
}

.col p {
    letter-spacing: 2px;
    font-family: Ubuntu, sans-serif;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* About Images */

.about-image {
    height: 250px;
    width: 100%;
    vertical-align: middle;

    object-fit: cover;

    border-radius: 25px 25px 0 0;
}

/* Trails */

#trails {
    height: 800px;
}

#trails-box-left {
    padding-top: 30px;
    width: 30%;
    float: left;
}

#trails-box-right {
    padding-top: 30px;
    width: 30%;
    float: right;
}

#trails-box-center {
    width: 30%;
    padding-top: 30px;
    margin: 0 auto;
}

.boxes-left {
    width: 60%;
    height: 300px;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}

.boxes-right {
    width: 60%;
    height: 300px;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}

.boxes-center {
    width: 60%;
    height: 300px;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    position: relative;
}

/* Trails Images */ 

.trails-image {
    height: 300px;
    width: 100%;

    object-fit: cover;
    display: block;

    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    color:#FDF1B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 25px;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0); 
}

.image-title {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid #FDF1B5;
    padding-bottom: 7px;
}

.image-description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}

/* Booking page */

.book-form {
        clear: left;
        background: url("../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg");
        background-size: cover;
        background-position: center;
        height: 900px;
}

.sign-up {
    background: #273C2C;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    position: absolute;
    height: 500px;
    color: #FDF1B5;
    padding: 30px;
}

.sign-up > h2 {
    margin-bottom: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    border: 2px solid #FDF1B5;
    margin: 5px 0 20px 0;
}

.book-submit {
    width: 150px;
    height: 35px;
    margin-top: 7%;
    margin-left: 40%;
    border-radius: 5px;
    padding: 15px, 32px, 15px, 32;
    font-size: 100%;
    background-color: #FDF1B5;
    color: #273C2C;
}

.book-submit:hover {
    background-color: #273C2C;
    color:#FDF1B5;
    border: 1px solid #FDF1B5;
}

.birthday {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #FDF1B5;
    background: transparent;
    color: #FDF1B5;
    margin-left: 15px;
}

.book-trials-option {
    margin-left: 15px;
    background: transparent;
    color: #FDF1B5;
    border: 1px solid #FDF1B5;
}

/*Contact Us */

.contact-form {
    clear: left;
    background: url("../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.contact-box {
    background: #273C2C;
    position: absolute;
    height: 700px;
    color: #FDF1B5;
    padding: 30px;
    margin-top: 9%;
    margin-left: 5%;
    width: 500px;
}

/* Footer */

footer {
    background-color: #273C2C;
    padding: 2%;
    clear: both;
    position: relative;
}

.footer-contact {
    text-align: center;
    font-size: 180%;
    color: #FDF1B5;
}

.footer-contact a {
    text-decoration: none;
    color: #FDF1B5;
}

footer hr {
    height: 30px;
}

.networks {
    text-align: center;
}

.networks li {
    display: inline;
}

.networks i {
    font-size: 160%;
    color: #FDF1B5;
    padding: 1%;
}

.footer-contact a:hover {
    border: 1px solid #FDF1B5;
}

